body{
	color: gold;
	background-color: green;
}

.well{
	background-color: black;
	outline: 5px solid #ccc;
}

form#continue_form{
	float: left;
	margin-right: 10px;
}

form#quit_form{
	float: left;
}

form#hit_form{
	float: left;
	margin-right: 10px;
}

form#stay_form{
	float: left;
}

img.card_image{
	width: 100px;
	height:150px;
	margin: 0px 5px 5px 0px;
	border: 5px solid #ccc;
}

img.cover_image{
	width: 100px;
	height:150px;
	margin: 0px 5px 5px 0px;
	border: 5px solid #ccc;
}


